.App {
  color: #353535;
  min-height: 100vh;
  text-align: center;
}

.app-header {
  background: #284b63;
  color: white !important;
  min-height: 4em !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  border: solid 1px #353535;
  border-radius: 0.35rem;
}

